<aside class="l-sidebar">

  <div class="sections sidebar">
    <section class="sidebar">
	<p>This site hosts talks by Locke Data. Find out more about Locke Data and read the blog at <a href="https://itsalocke.com" title="Locke Data">itsalocke.com</a></p>
	 {{ range $key, $value := .Site.Taxonomies }}
    <section class="sidebar">
      <header>{{ $key | upper }}</header>
      <div>
        <ul class="terms">
          {{ range first 15 $value.ByCount }}<li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>{{ end }}
        </ul>
      </div>
    </section>
    {{ end }}
      <header>LATEST</header>
      <div>
        <div class="articles sm">
          {{ range $i, $p := (first 10 .Site.Pages) }}
          {{ .Render "li_sm" }}
          {{ end }}
        </div>
      </div>
    </section>

   
  </div>

</aside>
